
body {
  font-family: 'Montserrat', sans-serif;
}
/********************************* Navbar *******************************/

.navbar-default {
  background-color: transparent;
  border: none;
  padding: 0 100px;
  .navbar-brand{
    img {
      width: 278px;
    }
  }
  .navbar-nav {
    li {
      a {
        color: #2a2a2a;
        font-size: 15px;
        font-weight: 700;
        padding-top: 40px;
      }
    }
    .active {
      a {
        color: #ed3454;
        background-color: transparent;
      }
      a:hover {
        color: #ed3454;
        background-color: transparent;
      }
    }
  }
}

/********************************* Home Section *******************************/

.home-top {
  background-image: url(../../public/img/ppl.svg), url(../../public/img/yellow-bck.png);
  background-position: left bottom, right top;
  background-repeat: no-repeat, repeat-y;
  height: 100vh;
  background-size: 57%, 30%;
  margin-left: 75px;
  .social-links {
    position: absolute;
    top: 34%;
    left: 8%;
    img {
      width: 45px;
      margin: 5px 0;
    }
  }
  .barcamp-hashtag {
    background-color: #ee0f3c;
    height: 245px;
    width: 445px;
    padding: 170px 10px 10px 20px;
    position: absolute;
    top: 47%;
    right: 8%;
    box-shadow: 0 4px 3px rgba(238, 15, 60, 0.3);
  h3 {
      color: #ffffff;
    }
  }
  .light-bulb {
    width: 230px;
    position: absolute;
    top: 24%;
    right: 8%;
    img {
      width: 300px;
    }
  }
  .about-event {
    padding-top: 125px;
    h2 {
      font-size: 33px;
      font-weight: lighter;
    }
    p {
      font-size: 33px;
      font-weight: 700;
      line-height: 45px;
    }
  }
  .app-links {
    padding: 225px 0 0 70px;
    img {
      width: 135px;
      margin: 0 6px;
    }
  }
}

/********************************* Timetable Section ****************************/

.top-grey-border {
  height: 75px;
  background: #f6f6f6;
}
.timetable-top-bar {
  display: flex;
  align-items: center;
  padding: 70px 100px 30px 100px;
  .speak {
    width: 30px;
    background: #f6f6f6;
    height: 30px;
    border-radius: 50%;
  }
  .workshop {
    width: 30px;
    background: #e1e1e1;
    height: 30px;
    border-radius: 50%;
  }
  .day-selection {
    display: flex;
    align-items: baseline;
    flex: 3;
  }
  .time-range {
    display: flex;
    flex: 5;
  }
  .event-type {
    display: flex;
  }
  h4 {
    font-size: 20px;
    color: #2a2a2a;
    font-weight: 700;
    padding-left: 15px;
  }
  h5 {
    font-size: 15px;
    color: #8e8e8e;
    font-weight: 700;
    margin-top: 7px;
    padding: 0 20px 0 10px;
  }
  a {
    font-size: 20px;
    color: #8e8e8e;
    text-decoration: none;
    padding: 0 10px;
  }
}
.table-wrapper {
  padding: 0 133px 0 130px;
  .timetable-all {
    width: 100%;
    .heading {
      height: 55px;
      background: #ee3555;
      color: #ffffff;
      .empty {
        background: #ffffff;
      }
      th {
        text-align: center;
      }
    }
    td {
      height: 100px;
      padding: 0 15px;
      border-bottom: 2px solid #dddddd;
    }
    .time {
      background: #ffffff;
      border-bottom: none;
      font-size: 15px;
      font-weight: 700;
    }
    .event-description {
      background: #f8f8f8;
      border-radius: 10px;
      padding: 15px;
      margin: 15px 0;
      p {
        font-size: 13px;
      }
      .speaker-name {
        font-weight: 700;
      }
    }
  }
}

/********************************* Speakers Section ****************************/
.speakers-top-bar {
  padding: 110px 100px 110px 100px;
}
.speakers-single-row {
  padding: 0 75px 0 150px;
  .single-speaker {
    margin-bottom: 70px;
    img {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      max-width: 100%;
    }
    h5 {
      font-size: 15px;
      font-weight: 700;
      margin-top: 30px;
      margin-bottom: 5px;
    }
    .company {
      font-size: 13px;
      color: #8e8e8e;
    }
    .talk-name {
      font-size: 13px;
    }
    .hovered {
      position: relative;
      visibility: hidden;
    }
    .hovered:after {
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.7);
      height: 200px;
      width: 240px;
    }
    .hovered-links {
      position: absolute;
      top: 75px;
      left: 40px;
      z-index: 11;
      img {
        box-shadow: none;
      }
      a {
        padding: 0 5px;
      }
    }
  }
  .single-speaker:hover {
      .hovered {
        visibility: visible;
      }
    }
}

/********************************* Sponsors Section ****************************/
.sponsors-top-bar {
  padding: 110px 100px 50px 100px;
}
.sponsors-row {
  padding: 0 0 50px 160px;
  h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 30px;
  }
}

/********************************* Footer *************************************/

.footer {
  height: 300px;
  background: #282563;
  position: relative;
  .footer-navigation {
    padding: 30px 150px 30px 120px;
    img {
      float: left;
      width: 278px;
      margin-right: 40px;
    }
    ul {
      list-style: none;
      li {
        float: left;
        padding: 26px 25px;
        a {

          font-size: 15px;
          color: #ffffff;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
  .footer-bottom-bar {
    background: #ed3454;
    margin: 0 0 0 120px;
    height: 167px;
    .footer-social-links {
      padding: 60px 0 0 70px;
    }
    .barcamp-address {
      padding-top: 15px;

      h3 {
        font-size: 20px;
        color: #ffffff;
        font-weight: 900;
        margin-bottom: 25px;
      }
      p {
        font-size: 15px;
        color: #ffffff;
      }
    }
    a {
      padding: 0 5px;
    }
  }
  .map-wrapper {
    position: absolute;
    top: 50px;
    right: 80px;
  }
}
#map {
  height: 200px;
  width: 400px;
}
/********************************* Media Queries *******************************/

/* Large Screen */
@media only screen and (min-width: 1824px) {
  .navbar-default {
    padding: 0 150px;
  }
  /********Home Section********/
  .home-top {
    .barcamp-hashtag {
      top: 60%;
      right: 18%;
    }
    .light-bulb {
      top: 41%;
      right: 21%;
      img {
        width: 370px;
      }
    }
    .about-event {
      padding-top: 200px;
      h2 {
        font-size: 42px;
      }
      p {
        font-size: 42px;
      }
    }
    .app-links {
      padding: 420px 0 0 90px;
      img {
        width: 180px;
      }
    }
  }

  /******** TimeTable ********/
  .timetable-top-bar {
    padding: 70px 150px 30px 150px;
    .day-selection {
      flex: 2;
    }
  }
  .table-wrapper {
    padding: 0 180px;
  }

  /******** Speakers ********/
  .speakers-top-bar {
    padding: 110px 150px 110px 150px;
  }
  .speakers-single-row {
    padding: 0 0 0 180px;
  }

  /******** Sponsors ********/
  .sponsors-top-bar {
    padding: 110px 150px 55px 150px;
  }
  .sponsors-row {
    padding: 0 200px 50px 250px;
  }

  /******** Footer ********/
  .footer {
    .footer-navigation {
      padding: 30px 150px 30px 165px;
    }
    .footer-bottom-bar {
      margin: 0 0 0 164px;
    }
    .map-wrapper {
      right: 130px;
    }
  }

}
