body {
  font-family: 'Montserrat', sans-serif;
}
/********************************* Navbar *******************************/

.navbar-default {
  background-color: transparent;
  border: none;
  padding: 0 100px;
  .navbar-brand{
    img {
      width: 278px;
    }
  }
  .navbar-nav {
    li {
      a {
        color: #2a2a2a;
        font-size: 15px;
        font-weight: 700;
        padding-top: 40px;
      }
    }
    .active {
      a {
        color: #ed3454;
        background-color: transparent;
      }
      a:hover {
        color: #ed3454;
        background-color: transparent;
      }
    }
  }
  .navbar-toggle {
    cursor: pointer;
    padding: 25px 41px 16px 0;
    border:none;
  }
  .navbar-toggle span, .navbar-toggle span:before, .navbar-toggle span:after {
    cursor: pointer;
    height: 2px;
    width: 30px;
    background: #eb2a2e;
    position: absolute;
    display: block;
    content: '';
  }
  .navbar-toggle span:before {
    top: -7px;
  }
  .navbar-toggle span:after {
    bottom: -7px;
  }
  .navbar-toggle span, .navbar-toggle span:before, .navbar-toggle span:after {
    transition: all 400ms ease-in-out;
  }
  .navbar-toggle.active span {
    background-color: transparent;
  }
  .navbar-toggle.active span:before, .navbar-toggle.active span:after {
    top: 0;
  }
  .navbar-toggle.active span:before {
    transform: rotate(45deg);
  }
  .navbar-toggle.active span:after {
    transform: rotate(-45deg);
  }

}

/********************************* Home Section *******************************/

.home-top {
  background-image: url(../../public/img/ppl.svg), url(../../public/img/yellow-bck.png);
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  height: 100vh;
  background-size: 57%, 30%;
  margin-left: 75px;
  .social-links {
    position: absolute;
    top: 34%;
    left: 9%;
    img {
      width: 45px;
      margin: 5px 0;
    }
  }
  .barcamp-hashtag {
    background-color: #ed3454;
    height: 245px;
    width: 445px;
    position: absolute;
    top: 47%;
    right: 8%;
    box-shadow: 0 4px 3px rgba(238, 15, 60, 0.3);
  h3 {
      color: #ffffff;
      padding: 85px 10px 10px 20px;
    }
    a {
      display: block;
      padding: 40px 10px 10px 20px;
      font-size: 24px;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.35s;
    }
    a:hover {
      color: #fcbd20;
    }
  }
  .light-bulb {
    width: 230px;
    position: absolute;
    top: 24%;
    right: 8%;
    img {
      width: 300px;
    }
  }
  .about-event {
    padding-top: 125px;
    padding-left: 170px;
    h2 {
      font-size: 33px;
      font-weight: lighter;
    }
    p {
      font-size: 33px;
      font-weight: 700;
      line-height: 45px;
    }
  }
  .app-links {
    padding: 37vh 0 0 90px;
    img {
      width: 135px;
      margin: 0 6px;
    }
  }
}

/********************************* Timetable Section ****************************/

.top-grey-border {
  height: 75px;
  background: #f6f6f6;
}
.timetable-top-bar {
  display: flex;
  align-items: center;
  padding: 70px 100px 30px 100px;
  .speak {
    width: 30px;
    background: #f6f6f6;
    height: 30px;
    border-radius: 50%;
  }
  .workshop {
    width: 30px;
    background: #e1e1e1;
    height: 30px;
    border-radius: 50%;
  }
  .day-selection {
    display: flex;
    align-items: baseline;
    flex: 3;
  }
  .time-range {
    display: flex;
    flex: 5;
  }
  .event-type {
    display: flex;
  }
  h4 {
    font-size: 20px;
    color: #2a2a2a;
    font-weight: 700;
    padding-left: 15px;
  }
  h5 {
    font-size: 15px;
    color: #8e8e8e;
    font-weight: 700;
    margin-top: 7px;
    padding: 0 20px 0 10px;
  }
  a {
    font-size: 20px;
    color: #8e8e8e;
    text-decoration: none;
    padding: 0 10px;
  }
  .active {
    background: #292663;
    color: #fff;
    padding: 8px;
    margin-left: 8px;
  }
}
.table-wrapper {
  padding: 0 133px 0 130px;
  .timetable-all {
    width: 100%;
    table-layout: fixed;
    .heading {
      height: 55px;
      background: #ee3555;
      color: #ffffff;
      .empty {
        background: #ffffff;
      }
      th {
        text-align: center;
        border: none;
        padding: 16px;
      }
    }
    tr td:first-child {
      font-weight: 700;
      border: none;
      text-align: center;
    }
    td {
      height: 100px;
      padding: 0 15px;
      border-bottom: 2px solid #dddddd;
      vertical-align: middle;
      border-top: none;
    }
    .time {
      background: #ffffff;
      border-bottom: none;
      font-size: 15px;
      font-weight: 700;
    }
    .event-description {
      background: #f8f8f8;
      border-radius: 10px;
      padding: 15px;
      margin: 15px 0;
      height: 200px;
      p {
        font-size: 13px;
      }
      .speaker-name {
        font-weight: 700;
      }
    }
  }
}

/********************************* Speakers Section ****************************/
.speakers-top-bar {
  padding: 20px 100px 50px 100px;
  a {
    font-size: 20px;
    color: #8e8e8e;
    text-decoration: none;
    margin: 0 0 0 20px;
    display: inline-block;
  }
  h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 50px 0 0 50px;
  }
}
.loader {
  padding: 50px 0;
}
.speakers-single-row {
  padding: 0 10px;
  .single-speaker {
    margin-bottom: 75px;
    height: 300px;
    .speaker-image {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      max-width: 100%;
      width: 240px;
      transition: all 0.35s;
    }
    h5 {
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 5px;
    }
    .company {
      font-size: 13px;
      color: #8e8e8e;
    }
    .talk-name {
      font-size: 13px;
    }
    .hovered {
      position: relative;
      visibility: hidden;
    }
    .hovered:after {
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.7);
      height: 240px;
      width: 240px;
    }
    .hovered-links {
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 11;
      right: 15px;
      text-align: center;
      img {
        box-shadow: none;
      }
      a {
        padding: 0 5px;
      }
    }
  }
  .single-speaker:hover {
      .hovered {
        visibility: visible;
      }
    }
}
/********************************* Livestream Section ****************************/
.livestream-top-bar {
  padding: 110px 100px 50px 100px;
}
.livestream-wrapper {
  background: #f6f6f6;
  padding: 40px 0;
  position: relative;
  .red-box {
    height: 240px;
    width: 400px;
    background-color: #ed3454;
    position: absolute;
    top: 50%;
    right: 22%;
    z-index: 10;
    box-shadow: 0 4px 3px rgba(238, 15, 60, 0.3);
  }
}
.livestream-section {
  .video-wrapper {
    z-index: 20;
    position: relative;
  }
  .room-select {
    ul {
      list-style-type: none;
      float: right;
      margin-top: 80px;
      direction: rtl;
      padding-right: 0;
      li {
        span {
          font-size: 15px;
          color: #000;
          text-decoration: none;
          font-weight: 700;
          padding: 2px 0;
          display: block;
          cursor: pointer;
        }
      }
      .active-room {
        span {
          color: #ffffff;
          background: #ed3454;
          padding: 2px 12px;
          font-size: 18px;
          box-shadow: 0 4px 3px rgba(238, 15, 60, 0.3);
        }
      }
    }
  }
}
/********************************* Sponsors Section ****************************/
.sponsors-top-bar {
  padding: 110px 100px 50px 100px;
}
.sponsors-row {
  padding: 0 0 50px 160px;
  h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 30px;
  }
  .general {
    width: 180px;
  }
}

/********************************* FAQ Section *******************************/
.faq-section {
  padding: 130px 50px 120px 140px;
  h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  h4 {
    font-size: 20px;
    font-weight: 700;
  }
  p {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .form-wrapper {
    h4 {
      font-size: 20px;
      color: #ed3454;
      padding: 110px 0 30px 0;
    }
    label {
      font-size: 15px;
      margin-bottom: 10px;
    }
    input {
      outline: none;
      background-color: #f6f6f6;
      height: 40px;
      box-shadow: none;
      margin-bottom: 25px;
    }
    textarea {
      background: #f6f6f6;
      box-shadow: none;
    }
    .submit {
      width: 100%;
      height: 40px;
      background: #272461;
      color: #fff;
      border: 1px solid #272461;
      border-radius: 3px;
      font-size: 15px;
      font-weight: 700;
      margin-top: 10px;
    }
  }
}

/********************************* About Section *******************************/
.about-section {
  padding: 120px 150px 100px 165px;
  .about-cover {
    background: url("../../public/img/about-cover.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .about-us {
    padding: 60px 0;
    h4 {
      font-size: 20px;
      font-weight: 700;
      padding: 40px 0 15px 0;
    }
    p {
      font-size: 15px;
    }
    h5 {
      font-size: 18px;
      font-weight: 700;
      margin: 25px 0;
    }
  }
}

/********************************* Footer *************************************/

.footer {
  height: 300px;
  background: #282563;
  position: relative;
  .footer-navigation {
    padding: 30px 150px 30px 120px;
    img {
      float: left;
      width: 278px;
      margin-right: 40px;
    }
    ul {
      list-style: none;
      li {
        float: left;
        padding: 26px 25px;
        a {

          font-size: 15px;
          color: #ffffff;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
  .footer-bottom-bar {
    background: #ed3454;
    margin: 0 0 0 120px;
    height: 167px;
    .footer-social-links {
      padding: 60px 0 0 70px;
    }
    .barcamp-address {
      padding-top: 15px;

      h3 {
        font-size: 20px;
        color: #ffffff;
        font-weight: 900;
        margin-bottom: 25px;
      }
      h5 {
        font-size: 13px;
        color: #fff;
      }
      p {
        font-size: 15px;
        color: #ffffff;
      }
      a{
        color: #fff;
        text-decoration: underline;
        transition: all 0.35s;
      }
      a:hover {
        color: #fcbd20;
      }
    }
    a {
      padding: 0 5px;
    }
  }
  .map-wrapper {
    position: absolute;
    top: 50px;
    right: 80px;
  }
}
#map {
  height: 200px;
  width: 400px;
}
/********************************* Media Queries *******************************/
/* Mobile XS */

@media (max-width: 767px) {
  .navbar-default {
    .navbar-toggle:hover,  .navbar-toggle:focus {
      background-color: transparent;
    }
    .navbar-collapse, .navbar-form {
      border: none;
      background: #fff;
      text-align: center;
    }
    padding: 0 10px;
    .navbar-brand {
      img {
        width: 150px;
      }
    }
    .navbar-nav {
      li {
        a {
          padding-top: 10px;
        }
      }
    }
  }
  .home-top-mobile {
    background-image: url(../../public/img/yellow-bck-mobile.png);
    padding: 200px 20px 30px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
      font-size: 27px;
    }
    p {
      font-size: 25px;
      font-weight: 700;
    }
    .barcamp-hashtag-mobile {
      height: 180px;
      background: #ed3454;
      margin-top: 50px;
      position: relative;
      h3 {
        font-size: 18px;
        color: #fff;
        padding: 60px 0 0 18px;
      }
      .registration {
        display: block;
        padding: 30px 0 0 18px;
        font-size: 18px;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.35s;
      }
      .registration:hover {
        color: #fcbd20;
      }
      .social-links-mobile {
        position: absolute;
        top: 50px;
        right: 15px;
        img {
          width: 30px;
          margin-bottom: 7px;
        }
      }
    }
  }
  .timetable-top-bar {
    padding: 65px 40px 50px 20px;
    display: block;
    img {
      width: 200px;
    }
    h4 {
      padding-left: 0;
      font-size: 16px;
    }
    a {
      font-size: 16px;
      margin-left: 10px;
    }
    .active {
      margin-left: 15px;
    }
  }
  .mobile-timetable {
    .panel-default {
      border: none;
      box-shadow: none;
    }
    .panel-heading {
      color: #fff;
      background-color: #ee3555;
      border-color: transparent;
      border-radius: 0;
      text-align: center;
      a {
        text-decoration: none;
      }
    }
    .panel-body {
      .single-event-mobile {
        background: #f6f6f6;
        padding: 10px 15px;
        border-radius: 5px;
        margin-bottom: 15px;
      }
      .event-time-mobile {
        font-size: 14px;
        color: #999999;
        margin-bottom: -5px;
      }
      .speaker-name-mobile {
        font-weight: 700;
      }
      .event-description-mobile {
        font-size: 13px;
      }
    }
  }
  .speakers-top-bar {
    padding: 65px 40px 50px 20px;
    img {
      width: 200px;
    }
    a {
      font-size: 10px;
    }
    h1 {
      font-size: 28px;
      margin: 0;
      padding-top: 30px;
    }
  }
  .speakers-single-row {
    padding: 0 20px 0 20px;
    text-align: center;
    .hovered-mobile {
      position: absolute;
      top: 200px;
      right: 50px;
      z-index: 20;
    }
    .hovered-links-mobile {
      img {
        width: 25px;
        box-shadow: none;
        margin: 0 7px;
      }
    }
  }
  .livestream-top-bar {
    padding: 65px 40px 50px 20px;
    img {
      width: 200px;
    }
  }
  .video-wrapper {
    iframe {
      max-width: 100%;
    }
  }
  .sponsors-top-bar {
    padding: 65px 40px 50px 20px;
    img {
      width: 200px;
    }
  }
  .sponsors-row {
    padding: 15px 40px 50px 40px;
  }
  .footer {
    .footer-navigation {
      text-align: center;
      padding: 15px 40px 50px 40px;
      img {
        float: none;
        width: 200px;
        margin-right: 0;
      }
      ul {
        padding-left: 0;
        padding-top: 20px;
        li {
          float: none;
          padding: 10px 0;
        }
      }
    }
    .footer-bottom-bar {
      margin: 0;
      height: auto;
      text-align: center;
      padding: 30px 15px;
      .footer-social-links {
        padding: 0;
      }
    }
  }
  .faq-section {
    padding: 110px 30px 120px 30px;
  }
  .about-section {
    padding: 110px 30px 50px 30px;
  }
}
/* Tablet view */
@media only screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .navbar-default {
    padding: 0 35px;
  }
  .home-top {
    background-size: contain;
    margin-left: 0;
    .light-bulb {
      display: none;
    }
    .about-event {
      padding-left: 0;
    }
    .app-links {
      display: none;
    }
  }
  .timetable-top-bar {
    padding: 70px 35px 30px 15px;
  }
  .table-wrapper {
    padding: 0 35px 0 40px;
    .timetable-all {
      table-layout: auto;
    }
  }
  .speakers-top-bar {
    padding: 70px 35px 30px 15px;
  }
  .sponsors-top-bar {
    padding: 70px 35px 30px 15px;
  }
  .sponsors-row {
    padding: 0 0 50px 35px;
    img {
      max-width: 100%;
    }
  }
  .faq-section {
    padding: 130px 20px 120px 50px;
  }
  .footer {
    .footer-bottom-bar {
      margin: 0;
      height: auto;
      .footer-social-links {
        padding: 60px 0 0 20px;
      }
    }
    .footer-navigation {
      padding: 30px 20px 30px 30px;
      ul {
        li {
          padding: 26px 10px;
        }
      }
    }
    .map-wrapper {
      top: 60px;
      right: 24px;
    }
  }
  #map {
    height: 170px;
    width: 253px;
  }
  .about-section {
    padding: 120px 55px 100px 55px;
  }
}

/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-default {
    padding: 0 45px;
  }
  .home-top {
    background-size: contain;
    margin-left: 0;
    .light-bulb {
      display: none;
    }
    .about-event {
      padding-left: 100px;
    }
    .app-links {
      display: none;
    }
  }
  .timetable-top-bar {
    padding: 70px 35px 30px 15px;
  }
  .table-wrapper {
    padding: 0 35px 0 40px;
    .timetable-all {
      table-layout: auto;
    }
  }
  .speakers-top-bar {
    padding: 70px 35px 30px 15px;
  }
  .sponsors-top-bar {
    padding: 70px 35px 30px 15px;
  }
  .sponsors-row {
    padding: 0 0 50px 35px;
    img {
      max-width: 100%;
    }
  }

  .faq-section {
    padding: 130px 10px 120px 60px;
  }
  .footer {
    .footer-bottom-bar {
      margin: 0;
      height: auto;
    }
    .footer-navigation {
      padding: 30px 150px 30px 65px;
    }
    .map-wrapper {
      right: 40px;
    }
  }
  .about-section {
    padding: 120px 60px 100px 60px;
  }
}

/* Large Screen */
@media only screen and (min-width: 1824px) {
  .navbar-default {
    padding: 0 150px;
  }
  /********Home Section********/
  .home-top {
    .barcamp-hashtag {
      top: 60%;
      right: 18%;
    }
    .light-bulb {
      top: 41%;
      right: 21%;
      img {
        width: 370px;
      }
    }
    .about-event {
      padding-top: 200px;
      padding-left: 0;
      h2 {
        font-size: 42px;
      }
      p {
        font-size: 42px;
      }
    }
    .app-links {
      padding: 45vh 0 0 145px;
      img {
        width: 180px;
      }
    }
  }

  /******** TimeTable ********/
  .timetable-top-bar {
    padding: 70px 150px 30px 150px;
    .day-selection {
      flex: 2;
    }
  }
  .table-wrapper {
    padding: 0 180px;
  }
  .event-description {
    height: 150px;
  }

  /******** Speakers ********/
  .speakers-top-bar {
    padding: 110px 150px 110px 150px;
    h1 {
      margin: 50px 0 0 30px;
    }
  }
  /******** Livestream ********/
  .livestream-top-bar {
    padding: 110px 150px 110px 150px;
  }
  .livestream-wrapper {
    .red-box {
      right: 30%;
    }
  }

  /******** Sponsors ********/
  .sponsors-top-bar {
    padding: 110px 150px 55px 150px;
  }
  .sponsors-row {
    padding: 0 200px 50px 250px;
  }
  /******** Faq section ********/
  .faq-section {
    padding: 130px 150px 120px 190px;
  }
  /******** Footer ********/
  .footer {
    .footer-navigation {
      padding: 30px 150px 30px 165px;
    }
    .footer-bottom-bar {
      margin: 0 0 0 164px;
    }
    .map-wrapper {
      right: 130px;
    }
  }

}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {

  .home-top {
    .app-links {
      padding: 53vh 0 0 145px;
    }
  }
}
